* {
    margin: 0px;
    ;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    color: black;
    min-height:auto;
}


@import '../variables/estilos';
@import '../variables/extend';
@import './sections/header';
@import './sections/footer';
@import './sections/main';
@import './sections/comunes';

@import './sections/media';
