.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: white;
    background-color: #198754;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);

}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #a7b9a7;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #346831;
    border-color: #27420e;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    display: flex;
    align-content: flex-end;
    align-items: stretch;
    justify-content: space-around;
}

.whatsApp {
    display: inline;
    position: fixed;
    top: 40%;
    z-index: 3;
    margin-left: 76%;

    &:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #2a5026;
        -webkit-box-shadow: 0px 0px 15px 15px #49a360;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transition: .6s;
    }
}


.p {
    @extend %estilop;
    max-width: 800px;
    text-align: justify;

}

.styleList2 {
    margin: 40px;
    font-size: 20px;
    padding: 20px;
}

h2 {
    color: aliceblue;
    border-radius: 15px;
    top: 0%;
    z-index: 1;
    @include textoprueba ($colorHover)
}



.listadoProductos {
    display: inline-block;
    border-radius: 20px;
    margin: 40px 400px 40px 400px;
    font-size: 20px;
    padding: 20px;
}

.styleTable {
    display: inline-block;
    border-radius: 20px;
    margin: 40px 400px 40px 400px;
    font-size: 20px;
    padding: 20px;
}

.negrita {
    font-weight: 900;
}

.styleParrafo {
    margin: 03% 05% 0% 30%;
    padding: 24px;
    text-align: justify;
    width: 471px;
    height: 500px;
    overflow: auto;
    display: block;
    max-width: 500px;
}


.grid-container1 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    justify-items: center;
    align-items: center;
    justify-content: star;

    span {
        width: 350px;
        height: 250px;
        overflow: hidden;
    }
}

// // Aquí comienza la estructura de tunneo del FORM---->>>>

.col-md-6 {
    flex: 0 0 auto;
    width: 25%;
}

.col-md-4 {
    flex: 0 0 auto;
    width: 25%;
}

.col-12 {
    display: flex;
    /* flex: 0 0 auto; */
    width: 100%;
    justify-content: space-around;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #213017;
    background-color: #70a873;
    background-clip: padding-box;
    border: 1px solid rgb(25, 92, 45);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #279139;
    --bs-btn-border-color: #279139;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #279139;
    --bs-btn-hover-border-color: #279139;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #279139;
    --bs-btn-active-border-color: #279139;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #279139;
    --bs-btn-disabled-border-color: #198754;
}

// CODIGO TUNNEO DEL FAQ ACORDEON AQUÍ

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: #e9ecef;
    text-align: left;
    background-color: #178351;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-button:focus {
    z-index: 5;
    border-color: #033c22;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}