footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    
    background-image: linear-gradient(to top, #082015, #235e42, #3c6350, #eaccad, #f3dbc3);




    .footerContainer {
        display: flex;
        justify-content: center;
        clear: both;


    }



    .divfooterIcons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

    }

    .aFooter {
        margin: 10px;
        background-image: linear-gradient(to top, #082015, #235e42, #3c6350, #eaccad, #f3dbc3);
        transition: background-color .2s;
        display: block;
        width: 152px;
        height: 144px;
        border-radius: 18px;
        position: relative;


        &:hover {
            border-radius: 50%;
            background-color: #0d3d26;
            -webkit-border-radius: 50%;
            box-shadow: 0px 0px 15px 15px #384d36;
            -webkit-box-shadow: 0px 0px 15px 15px #49a360;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transition: .6s;
        }

    }

    .pFooter {

        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        pointer-events: none;
        margin-bottom: 0rem;
        color: white;
    }

    .imgFooter {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-20%);
        pointer-events: none;

    }

}