header {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(to bottom, #198754, #a1b899, #f0f3f0, #eaeee8, white, white);
    height: 20vh;
    align-items: center;
    grid-area: header;
    ;

    li {
        margin: 20;

    }

    a {
        // color: rgb(7, 7, 7);
        text-decoration: none;

        &:hover {
            color: $colorHover;
            transform: matrix3d();
            font-size: larger;
            transition: .3s;
        }
    }

    .navcolor {
        background-image: linear-gradient(to bottom, #198754, #a1b899, #f0f3f0, #eaeee8, white, white);
        height: 20vh;
        opacity: 2;
    }

    

    .nav-link {
        color: #198754;
    }
}